services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: canary_db
      POSTGRES_USER: canary_user
      POSTGRES_PASSWORD: canary_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - .:/app
    environment:
      POSTGRES_DB: canary_db
      POSTGRES_USER: canary_user
      POSTGRES_PASSWORD: canary_password
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      GOOGLE_CLIENT_ID: 950531829930-qt5guat1k16vd1b7mvidfn5c63u7p7m9.apps.googleusercontent.com
      GITHUB_CLIENT_ID: Ov23liwhwtBaC8trgUga
      GITHUB_CLIENT_SECRET: 69afb96f9d425ac5033d8228cf8fb19b1a92cea3
      GITHUB_WEBHOOK_SECRET: test-secret
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/index.html:/app/index.html
      - ./frontend/vite.config.js:/app/vite.config.js
    environment:
      VITE_GOOGLE_CLIENT_ID: 950531829930-qt5guat1k16vd1b7mvidfn5c63u7p7m9.apps.googleusercontent.com
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  postgres_data:


